*
!app
!Components
!e2e
!__tests__
!lib
!public
!server
!style
!build_docker.sh
!run_tests.sh
!eslint.config.mjs
!jest.config.js
!jest.setup.js
!next.config.ts
!package.json
!package-lock.json
!playwright.config.ts
!postcss.config.mjs
!README.md
!TESTING.md
!start-dev.sh
!tailwind.config.ts
!tsconfig.json
!components.json
